@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Notie";
  src: url('./fonts//Hello-Notie.otf');
}

/* TAILWIND CLASS FOR BORDER */
/* border-4 border-rose-600 */

:root {
  --salmon: #FF8066;
  --babyblue: #52A3EA;
  --golden: #EBB852;
  --cream: #fffce1;
  --silver: #C0B7B1;
  --brown: #7A7265;
  --black: #201D1E;
  --bg-black: #191919;
}

#root {
  margin: 0 auto;
  background-color: var(--bg-black);
}

html {
  scroll-behavior:smooth;
}

h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

ul {
  padding-left: 1rem;
}

li {
  font-size: 1rem;
  font-weight: 500;
  list-style: disc;
}






/* NAVBAR */
.navbar a {
  color: var(--cream);
  transition: color 0.3s ;
}

.navbar a:hover {
  color: var(--salmon);
}





/* HEADER */
header {
  min-height: 85vh;
}

.header-titles {
  color: var(--cream);
  height: 28%;
  /* border: 4px solid red; */
  margin-left: 20%;
  margin-right: 20%;
  position: absolute;
  top: 28%;
}

.header-titles h4 {
  font-family: DM Sans;
  font-size: 2rem;
}

.header-titles h1 {
  font-size: 4rem;
}

.header-titles a {
  color: var(--salmon);
}






/* ABOUT */
.about {
  min-height: 95vh;
  margin-left: 10%;
  margin-right: 10%;
  font-family: DM Sans;
  color: var(--cream);
}

.about-summary {
  width: 75%;
}

.education-card {
  width: 49%;
}

.education-highlight {
  font-weight: 400;
  color: var(--salmon);
}

.education-card p {
}






/* PROJECTS */
.projects {
  min-height: 95vh;
  margin-left: 10%;
  margin-right: 10%;
  font-family: DM Sans;
  color: var(--cream);
}

.projects-card {
  height: 100%;
  width: 32%;
  border-radius: 15px 15px 15px 15px;
}

.projects-card h3 {
  text-align: center;
}

.projects-img-container {
  height: 40%;
  width: 100%;
  object-position: center;
}

.projects-img {
  object-fit:cover;
  width: 100%;
  height: 100%;
}

.projects-btn {

}

.projects-btn a {
  border: solid var(--salmon) 1px;
  color: var(--cream);
  font-weight: 600;
  border-radius: 15px 15px 15px 15px;
  transition: background-color 0.2s;
}

.projects-btn a:hover {
  background-color: var(--salmon);
}